APP_HOST=0.0.0.0
APP_PORT=8081
APP_ENVIRONMENT=local
LOGGER_URL=""
LOGGER_URL=INFO

######################## DATABASE DRIVER #############################
DB_DRIVER=postgres

######################## WRITE DATABASE #############################
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=testing

######################## READ DATABASE #############################
DB_HOST_READ=localhost
DB_USER_READ=root
DB_PASSWORD_READ=password
DB_PORT_READ=5432
DB_NAME_READ=testing

######################## MIGRATE DATABASE #############################
DB_MIGRATION_HOST=postgres
DB_MIGRATION_USER=iank
DB_MIGRATION_PASSWORD=password
DB_MIGRATION_PORT=5432
DB_MIGRATION_NAME=mydb

HUGGING_FACE_EMBEDDING="sentence-transformers/all-mpnet-base-v2"
HUGGING_FACE_APIKEY=""

CHROMA_HOST=localhost
CHROMA_PORT=8000

USER_AGENT="MyLangChainApp/1.0 (meongbego@gmail.com)"

MISTRAL_API_KEY=""
MISTRAL_BASE="open-mistral-nemo"

REDIS_HOST=localhost
REDIS_PORT=6479
REDIS_PASSWORD="password"
REDIS_DB=8

OPENAI_APIKEY=""
OPENAI_MODEL="gpt-4o-mini"

RETRIEVER_TOPK=3
RETRIEVER_FETCHK=100

HF_TOKEN=""

QROQ_BASE="llama-3.3-70b-versatile"
GROQ_APIKEY=""

STORAGE_BUCKET="ochabot"
MINIO_URL="localhost:9000"
MINIO_ACCESSKEY=""
MINIO_SECRETKEY=""

JWT_SECRET_KEY=""