APP_HOST=0.0.0.0
APP_PORT=8081
APP_ENVIRONMENT=local
LOGGER_URL=""
LOGGER_URL=INFO

######################## WRITE DATABASE #############################
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_PORT=3306
DB_NAME=testing

######################## READ DATABASE #############################
DB_HOST_READ=localhost
DB_USER_READ=root
DB_PASSWORD_READ=password
DB_PORT_READ=3306
DB_NAME_READ=testing

HUGGING_FACE_EMBEDDING="sentence-transformers/all-mpnet-base-v2"
HUGGING_FACE_APIKEY=""
OLLAMA_HISTORY_COLLECTION=chat_history

CHROMA_HOST=localhost
CHROMA_PORT=8000

USER_AGENT="MyLangChainApp/1.0 (meongbego@gmail.com)"

MISTRAL_API_KEY=""
MISTRAL_BASE="mistral-small-latest"